{% block content %}

<article>
	<div class="image-article">
	</div>
 
	<div class="content-article">
	<h3 >{{ title }}</h3>
	<p class="contenu">
			{{description}}
	</p>
	<div id="article-info">
	<form action="?action=displayArticle" method="POST" id="display-article">
		<input type="submit" value="Lire le contenu" id="read-content">
		<input type="hidden" value="{{ title }}" name="title-article" id="title-article">
	</form>
	<h6>Posté par {{ username }} le {{ date }}</h6>
	</div>
	</div>
</article>

{% endblock %}